header {text-align: center;
background-color: tan;
word-spacing: 20%;
font-size: 50px;
padding: 20px;}

section {text-align: left;
float: right;}

footer {text-align: center;
    background-color: tan;
    word-spacing: 20%;
    font-size: 50px;
    padding: 20px;}
