header {background-color: tan;
height: fit-content;
padding-left: 50px;
text-align: center;}

section {text-align: left;
float: right;}

footer {background-color: tan;
height: fit-content;
padding-left: 50px;
text-align: center;
}
