header {text-align: center;
background-color: tan;
word-spacing: 20%;
font-size: 30px;
padding: 10px;}

section {align-content: center;}

p {text-align: left;}

footer {text-align: center;
    background-color: tan;
    word-spacing: 20%;
    font-size: 30px;
    padding: 10px;}

table {background-color: #ec0e20;
    border: solid 0px #352313;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    max-width: 200px;
    width: 100%;
    overflow: hidden;
    display: block;}